.task-card {
    max-width: 400px;
    min-width: 400px;
    cursor: pointer;
    &:hover {
        background-color: rgba(0,0,0,0.02) !important;
    }
}
.dropdown-toggle::after {
    display:none;
}